---
apiVersion: v1
kind: Secret
metadata:
  name: drawrace-postgres-credentials
  namespace: drawrace
type: kubernetes.io/basic-auth
stringData:
  username: drawrace
  password: "REPLACE_WITH_SECURE_PASSWORD"
---
apiVersion: v1
kind: Secret
metadata:
  name: drawrace-postgres-backup-s3
  namespace: drawrace
type: Opaque
stringData:
  accessKeyId: "REPLACE_WITH_GARAGE_ACCESS_KEY"
  secretAccessKey: "REPLACE_WITH_GARAGE_SECRET_KEY"
